$color-dark-shade : #6A002C;
$color-white : #FFF;
$color-black : #2b1706;
$color-light-gray : #f3f3f3;
$color-primary : #f6821f;
$color-secondary : #364598;
$color-gray : #6c757d;
$font-CenturyGothic : 'Century Gothic';

$xxxl-font-size: 28px;
$xxl-font-size: 24px;
$xl-font-size: 22px;
$l-font-size: 20px;
$md-font-size: 18px;
$sm-font-size: 16px;
$xs-font-size: 14px;
$xxs-font-size: 12px;
$xxxs-font-size: 10px;